.carousel{
  background: #2f4357;
  
  margin-top: 20px;
}

.carousel-item:nth-child(1){
  background-image: url(media/gardenshadow.jpg);
  background-position: center;
  background-repeat: none;
}
.carousel-item:nth-child(2){
  background-image: url(media/aliengarden.jpg);
  background-position: center;
  background-repeat: none;
}
.carousel-item:nth-child(3){
  background-image: url(media/huntedhospital.jpg);
  background-position: center;
  background-repeat: none;
}
.carousel-item{
  text-align: center;
  min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.center-box {
  background-color: #2f4357;
  padding: 1em;
  height: auto;
}
/* This is the default state */
.custom-radio .custom-control-label::before {
  background-color: #D8BFD8;  /* orange */
}

/* This is the checked state */
.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
  background-color: #8A2BE2;
  /*this bg image SVG is just a white circle, you can replace it with any valid SVG code*/
  background-image: url(data:image/svg+xml;charset=utf8,%3Csvgxmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E);
  border-radius: 50%;
}

/* active state i.e. displayed while the mouse is being pressed down */
/* .custom-radio .custom-control-input:active ~ .custom-control-label::before {
  color: #fff;
  background-color: #ff0000; /* red 
} 
  
/* the shadow; displayed while the element is in focus */
.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(255, 123, 255, 0.25); /* pink, 25% opacity */
}

.bs-example{
margin: 20px;
}
.myInput{
  width: 90%;
  margin: auto;}
.gallery {
  margin-right: 0px;
  margin-left: 0px; 

}
.footer {
  width: 93vw;
  height: 100px;
  margin: 1em auto;
  background-color: paleturquoise;
  display: flex;
  align-items: center;
  
}
.figure {
  display: flex;
  justify-content: space-around;
  
}
.icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 50%;
}